<template>
  <div class="todo-container mx-auto col-lg-6 ">
    <h5 class="todo-title">TODOS APP</h5>
    <p class="text-sm-center">Create a task, assign it for an employee and hit enter. </p>
    <input
      type="text"
      class="form-control todo-field"
      v-model="newTodo.title"
      placeholder="New Todo"
      @keyup.enter="addTodo"
    >
      <select v-model="newTodo.user_id" class="form-control">
          <option v-for="(user,index) in allUsers" :value="user.id" :selected="index === 0">{{ user.name }}</option>
      </select>

    <div class="todo-block scroll-pane">
      <ul class="todo-list" v-show="todos.length">
        <li
          v-for="(todo,index) in todos" :key="index">
          <input
            type="checkbox"
            class="toggle"
            :id="index"
            :true-value="1"
            :false-value="0"
            v-model="todo.completed"
            @:change="toggleTodoComplete(todo)"
          >
          <label :for="index">{{ todo.id }}</label>
          <label :for="index">{{ todo.title }}</label>
          <label :for="index">{{ todo.user? todo.user.name  :   '' }}</label>
          <a href="#" class="remove-link" @:click.prevent="removeTodo(todo)">
            <i class="icon-fa icon-fa-close"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    yourTodos: {
      type: Array,
      required: true
    },
      yourUsers: {
      type: Array,
      required: true
    },
  },
  data () {
    return {
      newTodo: {
        id: '',
        title: '',
        completed: false,
          user_id:  ''
      },
      todos: [],
        selectedUser : null,
        allUsers : []

    }
  },
  mounted () {
    this.todos = this.yourTodos;
      this.allUsers =   this.yourUsers;
  },
  methods: {
    addTodo () {
      let vm = this
      let url = '/admin/todos';
      console.log(vm.newTodo.user_id );
      if (vm.newTodo.title === '') {
          toastr['error']({}, "Please provide a todo title");
          return;
      }
      if (vm.newTodo.user_id  == null   ||  vm.newTodo.user_id  ==  '') {
          toastr['error']({}, "Please assign a user");
          return;
      }

      axios.post(url, vm.newTodo).then(
        function (request) {
          toastr['success'](request.data, "Todo has been added successfully");

          vm.todos.push({
            id: request.data.todo.id,
            title: request.data.todo.title,
              user_id: request.data.todo.user_id,
            completed: false
          })
          vm.newTodo = {
            id: '',
            title: '',
              user_id   :   '',
            completed: false
          }

          setTimeout(function () {
              window.href.reload();
          },500)
        },
        function (error) {
          alert(error)
        }
      )
    },

    removeTodo (todo) {
        console.log('removingg,');
        console.log(todo);
      let url = '/admin/todos/' + todo.id
      let vm = this

      axios.post(url, { _method: 'DELETE' }).then(function (request) {
        toastr['success'](request.data, "Todo has been deleted successfully");
        let index = vm.todos.indexOf(todo)
        vm.todos.splice(index, 1);
          setTimeout(function () {
              window.href.reload();
          },500)
      },

      function (error) {
        console.log(error)
      })
    },

    toggleTodoComplete (todo) {
      let url = '/admin/todos/toggleTodo/' + todo.id
      let vm = this

      axios.post(url, { completed: todo.completed }).then(function (request) {
        console.log(request)
      },
      function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<style>
.todo-container {
  background-color: #ffde00;
  padding: 50px;
  min-height: 500px;
}

.todo-field:focus {
  border: 1px solid #ccc;
}

.todo-title {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-align: center;
}

.todo-block h6 {
  text-align: center;
  text-transform: uppercase;
  color: gray;
}

.remove-link {
  color: #f35a3d;
  position: absolute;
  top: 0;
  line-height: 50px;
  right: 5px;
}

.remove-link:hover {
  color: #f35a3d;
}

.add-link {
  color:green;
  position: absolute;
  top: 0;
  line-height: 50px;
  right: 5px;
}

.add-link:hover {
  color: green;
}

.todo-block {
  background: #fff;
  padding: 0.375rem 0.75rem;
  margin-top: 30px;
  height: 200px;
  overflow: auto;
}

.todo-list {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.todo-list li {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  position: relative;
}

.todo-list li label {
  padding-left: 70px;
  margin: 0;
  color: #333;
}

.todo-list li input[type="checkbox"] {
  outline: none;
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#333" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#333" stroke-width="3"/><path fill="#4fc47f" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

@media (max-width: 768px) {
  .todos-container {
    display: none;
  }
}
</style>
