//font-awesome
$fa-css-prefix: icon-fa !default;
$fa-font-path:  "/assets/admin/fonts/" !default;



// Colors
// -------------------------

$ls-color-yellow:          #5BBFDE;;
$ls-color-black:           #333;
$ls-color-black--light:    #55595c;
$ls-color-blue:            #007dcc;
$ls-color-green:           #4fc47f;
$ls-color-red:             #f35a3d;
$ls-color-gray--light:     #f8f8f8;
$ls-color-gray--dark:      #ddd;
$ls-color-gray--very-dark: #bababa;
$ls-color-light-blue:      #5BBFDE;
$ls-color-orange:          #f0ad4e;



// Bootstrap Overrides
// -------------------------

$white: #fff;
$brand-primary:             $ls-color-blue;
$brand-secondary:           $ls-color-black;
$brand-success:             $ls-color-green;
$brand-info:                $ls-color-light-blue;
$brand-warning:             $ls-color-orange;
$brand-danger:              $ls-color-red;

$btn-secondary-color:       $white;
$btn-secondary-bg:          $ls-color-black;
$btn-secondary-border:      $ls-color-black;


$theme-colors: (
    primary: $ls-color-blue,
    secondary: $ls-color-black,
    success: $ls-color-green,
    info: $ls-color-light-blue,
    warning: $ls-color-orange,
    danger: $ls-color-red,
    light: $ls-color-gray--light,
    dark: $ls-color-gray--very-dark
) !default;


// Theme Colors
// -------------------------

$ls-color-primary :   $ls-color-yellow;
$ls-color-secondary : $ls-color-black;


// -- HEADER SECTION --

$header-bg-color: $ls-color-primary;
$header-font-color : $white;
$header-buttons-bg-color : $ls-color-black;
$header-buttons-bg-color--hover : lighten($ls-color-black,5%);
$header-buttons-font-color : $white;


// -- SIDEBAR SECTION --

$sidebar-bg-color : $ls-color-secondary;
$sidebar-font-color : $white;
$sidemenu-item-bg-color--hover : lighten($ls-color-black,10%);
$sidemenu-item-bg-color--active : transparent;
$sidemenu-item-font-color : $white;
$sidemenu-item-font-color--active : $ls-color-primary;
$sidemenu-arrow-color : $ls-color-gray--very-dark;
$sidemenu-submenu-bg : lighten($ls-color-black,3%);


// -- DROPDOWN --

$dropdown-bg: $ls-color-black;
$dropdown-link-color : $white;
$dropdown-border-color : $ls-color-black;
$dropdown-divider-bg : $ls-color-gray--very-dark;
$dropdown-header-color: $ls-color-primary;
$dropdown-header-border-color : $ls-color-gray--very-dark;

// -- HORIZONTAL MENU --

$header-bottom-bg : $ls-color-black;
$header-menu-item-font-color : darken($white,10%);
$header-menu-item-font-color--active : $white;
$header-menu-item-bg-color--hover : lighten($ls-color-black,10%);
$header-menu-item-bg-color--active : lighten($ls-color-black,10%);

// -- MISC --

$code-bg : $ls-color-black;
$code-color : $ls-color-primary;



// Fonts
//----------------------------------

$base-font-family :             'Roboto',sans-serif;
$base-font-color :              lighten($ls-color-black,15%);
$heading-font-color :           $ls-color-black;
$font-family-base :             $base-font-family;

$font-size-base:                1rem;
$font-size-section-title :      1.25rem;
$font-size-semi-section-title : 1.1rem;
$font-size-page-title :         1.5rem;



// Breakpoints
//----------------------------------

$x-small-breakpoint       :  480px;
$x-small-breakpoint-below :  $x-small-breakpoint - 1px;
$small-breakpoint         :  768px;
$small-breakpoint-below   :  $small-breakpoint - 1px;
$medium-breakpoint        :  992px;
$medium-breakpoint-below  :  $medium-breakpoint - 1px;
$large-breakpoint         :  1200px;
$large-breakpoint-below   :  $large-breakpoint - 1px;
$x-large-breakpoint       :  1800px;
$x-large-breakpoint-below :  $x-large-breakpoint - 1px;



// Other
//----------------------------------

$ls-login-bg-color-overlay: rgba(38 ,50 ,56,.6);
$ls-login-3-bg-color-overlay: rgba(0, 0 , 0, .35);

$headings-margin-bottom:     1.2rem;
$card-cap-bg:              #fff;

$pace-loader-color : darken($ls-color-primary,10%);

